<%= render "shared/header" %>
<%= link_to new_prefecture_recruitment_path, class: 'purchase-btn' do %>
  <span class='purchase-btn-text'>PLAY</span>
  <%= image_tag 'icon02.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>