* {
  box-sizing: border-box;
}

.top-page-header {
  height: 60px;
  width: 100vw;
  padding: 2vh 5vw;
  display: flex;
  flex-direction: column;
}

.top-page-second-header {
  height: 60px;
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkcyan;
}

.top-page-third-header {
  height: 60px;
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  background-color: darkcyan;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.top-title {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.fa-hands-helping::before{
  margin: 0 5px;
}

.lists-right {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

.sign-up, .login, .user-nickname, .logout {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  display: inline-block;
  position: relative;
}

.lists-right .icon-pict {
  margin-left: 5px;
}

.login::after, .sign-up::after, .user-nickname::after, .logout::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: hsl(243, 80%, 62%);
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.login:hover::after, .sign-up:hover::after, .user-nickname:hover::after, .logout:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* レスポンシブル対応(タブレット) */
@media (max-width: 1024px) {
  .top-title {
    font-size: 16px;
  }

  .nav {
    font-size: 14px;
  }
}

/* レスポンシブル対応(スマホ) */
@media (max-width: 600px) {
  .top-title {
    font-size: 14px;
  }

  .nav {
    font-size: 12px;
  }

  .lists-right .icon-pict {
    width: 20px;
    height: 20px;
  }
}