<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <div class='nav'>
    <div class='title'>
      <%=link_to '新たな始まりを　フットサルから', '/' ,class: 'top-title' %>
    </div>
  </div>
</header>