<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-third-header'>
  <div class='nav'>
    <div class='title'>
      <%=link_to '/' ,class: 'top-title' do %>
        <i class="fas fa-hands-helping"></i>新たな始まりを フットサルから<i class="fas fa-hands-helping"></i>
      <% end %>
    </div>
  </div>
</header>