.post-contents {
  padding: 0 20px;
}

.post-header {
  height: 10vh;
  display: flex;
  align-items: center;
}

.post-header h2 {
  font-size: 25px;
  margin: 0 auto;
  border-bottom: 2px solid red;
}

.post-lists {
  width: 70vw;
  height: 90vh;
  padding: 20px;
  margin: 0 auto;
}

.list {
  border: 1px solid #dedede;
  height: 100px;
  margin-bottom: 20px;
}

.content {
  padding: 5px;
  display: flex;

}

.content-header {
  display: flex;
  margin-left: 10px;
}

.content-info {
  display: flex;
  margin-left: 10px;
}

.created-at {
  margin-left: 10px;
}

.date {
  
}
.time {

}
.place {

}

// pagination
.pagination {
  text-align: center;
  margin-top: 30px;
}

.page {
  text-align: center;
  // border: 1px solid darkcyan;
  padding: 5px;
}

.first {
  // border: 1px solid darkcyan;
  padding: 5px;
}

.prev {
  // border: 1px solid darkcyan;
  padding: 5px;
}

// 新規募集button
.recruiting-btn {
  width: 120px;
  background: darkcyan;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.recruiting-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.recruiting-btn-icon {
  width: 60%;
}