.post-contents {
  padding: 0 20px;
}

.post-header {
  height: 10vh;
  display: flex;
  align-items: center;
}

.post-header h2 {
  font-size: 25px;
  margin: 0 auto;
  border-bottom: 2px solid red;
}

.post-lists {
  width: 50vw;
  height: 90vh;
  padding: 20px;
  margin: 0 auto;
}

.list {
  height: 130px;
  margin-bottom: 20px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.content {
  padding: 5px;
  position: relative;
}

.content-header {
  display: flex;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
}

.content-header .icon-pict {
  margin: 0 2px;
}

.content-info {
  margin-left: 10px;
}

.created-at {
  margin-left: 10px;
}

.date {  
  margin-left: 10px;
}
.time {
  margin-left: 10px;
}
.place {
  margin-left: 10px;
}

.details-icon {
  text-align: center;
}

.recruitment-end {
  position: absolute;
  top: 35%;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-7deg);
}

.recruitment-end span {
  color: #FFF;
  font-size: 18px;
  font: bold;
}

// pagination
.pagination {
  text-align: center;
  margin-top: 30px;
}

.page {
  text-align: center;
  // border: 1px solid darkcyan;
  padding: 5px;
}

.first {
  // border: 1px solid darkcyan;
  padding: 5px;
}

.prev {
  // border: 1px solid darkcyan;
  padding: 5px;
}

// 新規募集button
.recruiting-btn {
  width: 120px;
  background: darkcyan;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.recruiting-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.recruiting-btn-icon {
  width: 60%;
}

.text_inner {
  font-size: 20px;
  background-color: #EAD9FF;
  height: 100px;
}

// フレキシブル対応
@media (max-width: 1024px) {
  .post-header h2 {
    font-size: 20px;
    margin: 0 auto;
    border-bottom: 2px solid red;
  }

  .post-lists {
    width: 500px;
    height: 100px;
    padding: 20px;
    margin: 0 auto;
  }
}

// フレキシブル対応
@media (max-width: 600px) {
  .recruiting-btn {
    height: 80px;
    width: 80px;
    background: darkcyan;
    text-align: center;
    border-radius: 4%;
    bottom: 22px;
    right: 22px;
    position: fixed;
    padding: 5px;
  }
  
  .recruiting-btn-text {
    color: #fff;
    display: block;
    font-size: 14px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  
  .recruiting-btn-icon {
    width: 50%;
    height: 50%;
  }
}