.recruitment-details {
  padding: 20px;
  display: flex;
}

// 募集詳細
.recruitment-detail {
  width: 50vw;
}
// 編集ボタン
.recruitment-details .button {
  margin: 3vh;
  text-align: center;
}

.recruitment-details .recruitment-edit-btn {
  border-radius: 40px;
  background-color: darkcyan;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  width: 15vw;
  margin: 10px 20px;
  padding: 2vh 5vw;
}

.recruitment-details .recruitment-delete-btn {
  border-radius: 40px;
  background-color: darksalmon;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  width: 15vw;
  margin: 10px 20px;
  padding: 2vh 5vw;
}

.fa-edit::before, .fa-trash-alt::before, .fa-comments::before {
  margin-right: 5px;
}

.recruitment-details .detail-table {
  margin: 20px auto;
  width: 80%;
}

.recruitment-details .detail-item {
  width: 25%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.recruitment-details .detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.recruitment-details .detail-value .detail-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detail-user .icon-pict {
  margin: 5px;
}

.recruitment-details .detail-value-intro {
  height: 200px;
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  word-break: break-word;
}

.option {
  width: 30vw;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.back-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: darkcyan;
  border: 2px solid darkcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

.back-btn a{
  text-decoration: none;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px;
}

.fa-arrow-circle-left::before, .fa-thumbs-up::before {
  margin-right: 5px;
}

// コメント
.recruitment-comment {
  width: 50vw;
}

.comment-title {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}

.comment-box {
  width: 80%;
  height: 600px;
  border: solid 2px #dedede;
  resize: none;
  background-color: #fff;
  padding: 0 5px;
  margin: 20px auto;
  text-align: left;
  overflow: scroll;
  word-break: break-word;
}

.comment-header {
  display: flex;
}

.comment-contributor-image .icon-pict {
  margin: 5px 2px 0;
}

.comment-created-at {
  font-size: 12px;
  margin-top: 5px;
  margin-left: 5px;
}

.comment-form {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.comment-form textarea{
  width: 30vw;
}

.comment-text {
  width: 90%;
  height: 50px;
  padding: auto;
  border: solid 2px #dedede;
  resize: none;
  margin-right: 10px;
}

.comment-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50px;
  font-size: 18px;
  border-radius: 100px;
  padding: auto 0;
  margin-left: 10px;
}

// フレキシブル対応
@media (max-width: 1024px) {
  .recruitment-details {
    display: flex;
    flex-direction: column;
  }

  .recruitment-detail, .recruitment-comment {
    width: 80vw;
    margin: 0 auto;
  }

  .comment-box {
    height: 300px;
  }
}