// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page {
  display: flex;
  height: 90vh;
}

.user-info {
  border-right: 2px solid #dedede;
  width: 40vw;
  padding: 0 20px;
}

.user-icon {
  height: 25vh;
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #dedede;
}

.icon-pict {
  margin: 10px auto;
  display: block;
}

.user-icon-nickname {
  font-size: 20px;;
  color: black;
}

.user-details {
  height: 50vh;
  padding: 20px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value-intro {
  height: 200px;
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  word-break: break-word;
}

.user-edit-btn {
  display: block;
  text-align: center;
  background-color: darkcyan;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  width: 15vw;
  margin: 20px auto;
  padding: 2vh 5vw;
}

.user-page .user-post-contents {
  width: 60vw;
  padding: 0 20px;
}

.user-page .user-post-header {
  height: 10vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.user-page .user-post-header h2 {
  font-size: 25px;
  margin: 0 auto;
  border-bottom: 2px solid red;
}

.user-page .post-lists {
  height: 70vh;
  padding: 20px;
}

.user-page .list {
  border: 1px solid #dedede;
  height: 110px;
  margin-bottom: 20px;
}

.user-page .content {
  padding: 5px;
}

// .user-page .date {
//   margin-left: 10px;
// }
// .user-page .time {
//   margin-left: 10px;
// }
// .user-page .place {
//   margin-left: 10px;
// }
