// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-page {
  display: flex;
  height: 90vh;
}

.user-info {
  width: 40vw;
  padding: 0 20px;
}

.user-icon {
  padding: 20px 0;
  text-align: center;
  border-bottom: 2px solid #dedede;
}

.icon-pict {
  margin: 10px auto;
  display: block;
  border-radius: 100%;
}

.user-icon-nickname {
  font-size: 20px;;
  color: black;
}

.user-details {
  padding: 20px;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value-intro {
  height: 200px;
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  word-break: break-word;
}

.user-edit-btn {
  display: block;
  text-align: center;
  background-color: darkcyan;
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  width: 15vw;
  margin: 20px auto;
  padding: 2vh 5vw;
}

.fa-user-edit::before {
  margin-right: 5px;
}

.user-page .user-post-contents {
  width: 60vw;
  padding: 0 20px;
}

.user-page .user-post-header {
  height: 10vh;
  display: flex;
  justify-items: center;
  align-items: center;
}

.user-page .user-post-header h2 {
  font-size: 25px;
  margin: 0 auto;
  border-bottom: 2px solid red;
}

.user-page .post-lists {
  height: 70vh;
  padding: 20px;
}

.user-page .list {
  height: 110px;
  margin-bottom: 20px;
  color: #5d627b;
  background: white;
  border-top: solid 5px #5d627b;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.user-page .content-header {
  padding: 5px;
  display: block;
}

.user-page .details-icon {
  margin: 50px 0 0;
}

.user-page .recruitment-end {
  position: absolute;
  top: 36%;
  right: 0;
  width: 100%;
  text-align: center;
  background-color: crimson;
  transform: skewY(-7deg);
}

.user-page .recruitment-end span {
  color: #FFF;
  font-size: 18px;
  font: bold;
}

// レスポンシブ対応
@media (max-width: 1024px) {
  .user-page {
    display: flex;
    flex-direction: column;
  }
  .user-info {
    width: 60vw;
    border: none;
    padding: 0 20px;
    margin: 0 auto;
  }
  .user-page .user-post-contents {
    width: 60vw;
    padding: 0 20px;
    margin: 0 auto
  }
  .user-page .post-lists {
    width: 60vw;
    padding: 20px;
  }
}
